<%= form_with(model: cat) do |form| %>
  <% if cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
        <% cat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :colore %>
    <%= form.text_field :colore %>
  </div>

  <div class="field">
    <%= form.label :eta %>
    <%= form.number_field :eta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
